<ng-container *ngIf="!showWeatherTable">
    <div class="d-flex flex-column justify-content-center align-items-center min-vh-100 text-center">
        <h4 class="m-0 man-reg text-white">{{ fullName }}</h4>
        <h6 class="m-0 man-reg text-white mb-5 mt-2">{{ gitProfile }}</h6>
        <div class="container">
            <div class="row mt-5">
                <div class="col-10 col-md-3 col-lg-3 mx-auto">
                    <div class="input-group">
                        <span class="input-group-text bg-white ">
                            <i class="bi bi-search"></i>
                        </span>
                        <input type="text" class="form-control border-strat-0 man-reg font-size-12" placeholder="City...">
                        <button type="button" class="btn btn-primary man-semi w-100 font-size-12 mt-2" (click)="toggleWeatherTable(true)">
                            <i class="bi bi-cloud me-2"></i>
                            Display Weather
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="showWeatherTable">
    <div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-10 col-lg-10 mx-auto">
                    <table class="table table-bordered man-reg font-size-12 rounded-table">
                        <thead class="table">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Temp(F)</th>
                                <th scope="col" class="d-none d-md-table-cell">Description</th>
                                <th scope="col" class="d-none d-md-table-cell">Main</th>
                                <th scope="col" class="d-none d-md-table-cell">Pressure</th>
                                <th scope="col" class="d-none d-md-table-cell">Humidity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2025-05-31</td>
                                <td>75.2</td>
                                <td class="d-none d-md-table-cell">Clear sky</td>
                                <td class="d-none d-md-table-cell">Clear</td>
                                <td class="d-none d-md-table-cell">1012 hPa</td>
                                <td class="d-none d-md-table-cell">45%</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary man-semi font-size-12 float-end" (click)="toggleWeatherTable(false)">
                        <i class="bi bi-chevron-left me-2"></i>
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-container>